<!DOCTYPE html>
<html>
<head>
    <title>Página de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Página de Login</h1>
    <form>
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="button" onclick="validatePassword()">Entrar</button>
    </form>
    <p><a href="/formulario">Criar Login</a></p>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
